<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd">

    <jaxrs:server address="/rest">
        <jaxrs:serviceBeans>
            <bean class="demo.cxf.rest_spring_cxf_shiro.HelloServiceImpl"/>
            <bean class="demo.cxf.rest_spring_cxf_shiro.UserServiceImpl"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="demo.cxf.rest_spring_cxf_shiro.AuthFilter"/>
        </jaxrs:providers>
    </jaxrs:server>

    <!--<bean id="authorizationFilter" class="org.apache.cxf.jaxrs.security.SimpleAuthorizingFilter">-->
        <!--<property name="interceptor">-->
            <!--<bean class="org.apache.cxf.interceptor.security.SimpleAuthorizingInterceptor">-->
            <!--<bean class="org.apache.cxf.interceptor.security.OperationInfoAuthorizingInterceptor">-->
            <!--<bean class="org.apache.cxf.interceptor.security.SecureAnnotationsInterceptor">-->
        <!--</property>-->
    <!--</bean>-->

</beans>